<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{ track.title }}">
  <ion-content has-header="true">
    <div ng-if="trackLoading" id="loader"><img src="img/loader.gif"></div>
    <div ng-if="!trackLoading" class="track-details">
      <img ng-src="{{ track.image_url }}" class="cover-art">
      <div class="info">
        <h2>{{ track.title }}</h2>
        <h3>{{ track.artist }}</h3>
      </div>
      <audio ng-src="{{ track.audio_url | trusted }}" controls></audio>
    </div>
  </ion-content>
</ion-view>
