/* Empty. Add your own CSS if you like */

#bar-search {
  top: 0 !important;
}

#loader {
  padding: 20px 0;
  text-align: center;
}

#loader img {
  display: block;
  margin: 0 auto;
  width: 34px;
}

#search-results .item:first-child {
  border-top: none;
}